<div class="col-sm-offset-4 col-sm-4">
  <div class="form-group">
	<%= simple_form_for(Drawing.new) do |f| %>
		<div class="col-sm-offset-3 col-sm-4 container">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>
		<div class="col-sm-offset-3 col-sm-4 container">
			<%= f.label :workcategory %>
			<%= f.input :workcategory_id, :collection => @workcategories, value_method: :id %>
		</div>
		<div class="col-sm-offset-3 col-sm-4 container">
			<%= f.label :description %>
			<%= f.text_area :description %>
		</div>
		<div class="col-sm-offset-3 col-sm-4 container">
			<%= f.label :image %>
			<%= f.file_field :image %>
		</div>
		<div class="col-sm-offset-3 col-sm-4 container">
			<%= f.submit %>
		</div>
	<%end %>
  </div>
</div>