<% @posts.each do |post| %>
<div class='post_wrapper'>
	<h3 class="post_title"><%= link_to post.title, post %></h3>
	<h4 class="post_body"><%= post.body %></h4>
	<p class="post_body"><%= post.created_at.strftime("%B, %d, %Y")%></p>
</div>
	<%if user_signed_in? && current_user.admin %>
	<div class="indent50">
		<div class="btn-group" role="group" aria-label="...">
	  		<button type="button" class="btn btn-default"><%= link_to "Edit", edit_post_path(post.id)%></button>
	  		<button type="button" class="btn btn-default"><%= link_to "Delete", post, method: :delete, data: { confirm: 'Are you sure?', class:"button" } %></button>
		</div>
	</div>
	<%end%>
<br>
<% end %>
>